# Dependencies-related
node_modules
yarn-error*
lerna-debug*

# Build-related folders
build
dist
storybook-static
# macOS-specific folders
.DS_Store

# Environment variables
.env.local
.env.development
.env.production
megalinter-reports/

# Logs
logs/*.log

# Scripts
scripts/*.js
